!!!
%html
  %head
    %title= @representative.name
    %link{ href: 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel: 'stylesheet' }

  %body
    .container
      .row
        .col-md-12
          %h1= @representative.name
          - if @representative.photo.present?
            %img{ src: @representative.photo, alt: @representative.name, class: 'img-fluid rounded' }

          %h3 Information
          .table-responsive
            %table.table.table-striped
              %tbody
                - if @representative.title.present?
                  %tr
                    %th Title
                    %td= @representative.title
                - if @representative.address1.present?
                  %tr
                    %th Address
                    %td
                      = @representative.address1
                      = ', '
                      = @representative.city
                      = ', '
                      = @representative.state
                      = ', '
                      = @representative.zip
                - if @representative.party.present?
                  %tr
                    %th Political Party
                    %td= @representative.party
