= form_for news_item, url: form_url, method: :post do |f|
  - if news_item.errors.any?
    .alert.alert-danger
      %h2
        = "#{pluralize(news_item.errors.count, 'error')} prohibited this news item from being saved:"
      %ul
        - news_item.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :representative_id
  = f.hidden_field :issue

  .form-group.row
    %span Representative:
    = link_to @representative.name, representative_path(@representative)

  .form-group.row
    %span Issue:
    = @issue

  .form-group.row
    %span Select an article:
    - if articles.present?
      - articles.each_with_index do |article, index|
        .col-md-12
          = radio_button_tag 'news_item[selected_article_index]', index, @selected_article_index == index, class: 'form-check-input'
          %strong Title:
          = article[:title]
          %br
          %strong Link:
          = article[:url]
          %br
          %strong Description:
          = article[:description]
          %br

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
