- rating_options = [['5 very good', 5], ['4 good', 4], ['3 normal', 3], ['2 bad', 2], ['1 very bad', 1]]

.row.mt-2
  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    Edit News Item
    = link_to @representative.name, representative_path(@representative.id)

  .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
    %span.issue-label Issue:
    = @issue
    %br/
    %br/

  = form_with(url: representative_my_news_item_new_path(@representative), local: true) do |form|
    - @news_items.each_with_index do |article, index|
      .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4.article
        %label
          = form.radio_button :selected_article, index, class: 'article-selector', checked: index.zero?
        %span.title-label Title:
        %span.title= article[:title]
        %br/
        %span.link-label Link:
        %a.link{ href: article[:link], target: '_blank' }= article[:link]
        %br/
        %span.description-label Description:
        %span.description= article[:description]
        %br/

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
      %label{ for: 'rating-dropdown' } Rating:
      = form.select :rating, options_for_select(rating_options)

    = form.hidden_field :title, id: 'hidden_title', value: @news_items[0][:title]
    = form.hidden_field :link, id: 'hidden_link', value: @news_items[0][:link]
    = form.hidden_field :description, id: 'hidden_description', value: @news_items[0][:description]
    = form.hidden_field :issue, id: 'hidden_issue', value: @issue

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
      .clearfix.mt-3
        .float-right
          = link_to representative_news_items_path(@representative), class: 'btn btn-info' do
            View news articles
            %i.fas.fa-arrow-right
        .float-left
          = form.submit 'Save', class: 'btn btn-info'
